* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-height: 100vh;
  background: linear-gradient(120deg, #e0c3fc, #8ec5fc);
  position: relative;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 2em;
  max-width: 100%;
}

.input {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 450px;
  margin-right: 30px;
}

.input input {
  font-size: 1.4em;
  background-color: #fafafa;
  width: 450px;
  padding: 20px 40px 20px 20px;
  -webkit-box-shadow: 0px 1px 3px #8f8f8f;
          box-shadow: 0px 1px 3px #8f8f8f;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input input::-webkit-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input input:-ms-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input input::-ms-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input input::placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input input:focus {
  -webkit-box-shadow: 0px 0px 15px lightcoral;
          box-shadow: 0px 0px 15px lightcoral;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input button {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1.2rem;
  font-size: 1.8rem;
  background: #fafafa;
  border: none;
  outline: none;
  cursor: pointer;
  color: lightcoral;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input button i {
  pointer-events: none;
}

.search {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 25px;
  width: 200px;
}

.search input {
  -webkit-box-shadow: 0px 1px 3px #8f8f8f;
          box-shadow: 0px 1px 3px #8f8f8f;
  border-radius: 50px;
  padding: 20px;
  background-color: #fafafa;
  font-size: 1.4em;
  width: 200px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search input::-webkit-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search input:-ms-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search input::-ms-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search input::placeholder {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search input:focus {
  -webkit-box-shadow: 0px 0px 15px lightcoral;
          box-shadow: 0px 0px 15px lightcoral;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search button {
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 2em;
  margin-top: -1em;
  padding: 10px 15px;
  border-radius: 50px;
  color: lightcoral;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.note {
  border: 2px solid white;
  -webkit-box-shadow: 0px 1px 3px #8d8d8d;
          box-shadow: 0px 1px 3px #8d8d8d;
  background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 13em;
  border-radius: 14px;
  color: #fafafa;
  margin: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  font-size: 1em;
}

.note p {
  width: inherit;
  padding: 1.3rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word;
}

.note .fa-times {
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  cursor: pointer;
}

.note .edit {
  position: absolute;
  top: 0.5rem;
  right: 3rem;
  cursor: pointer;
}

.note textarea {
  width: inherit;
  border-radius: 15px;
  height: 10em;
  resize: none;
  font-size: 1em;
  padding: 1.3rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word;
  color: #1A1B2F;
  background: -webkit-gradient(linear, left top, right top, from(#f89bac), color-stop(19%, #ff8da4), color-stop(60%, #ff9ba0), to(#ffada1));
  background: linear-gradient(to right, #f89bac 0%, #ff8da4 19%, #ff9ba0 60%, #ffada1 100%);
}

.animate {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hidden {
  display: none;
}

.error {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color: #a10000;
}

.themes {
  position: relative;
  border: 5px solid #1A1B2F;
  width: 100px;
  height: 64px;
  font-size: 2.5em;
  border-radius: 50px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px 3px #8f8f8f;
          box-shadow: 0px 1px 3px #8f8f8f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.themes .day {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -5px;
  padding: 30px;
  border-radius: 40px;
  width: 1.2em;
  height: 1.2em;
  margin-top: -0.85em;
  text-align: center;
  line-height: 1.2em;
  border: 5px solid #1A1B2F;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

.themes .day i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 0.7em;
}

.themes .night {
  width: 1.2em;
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -0.85em;
  height: 1.2em;
  visibility: hidden;
  text-align: center;
  line-height: 1.2em;
  padding: 30px;
  border-radius: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  border: 5px solid #1A1B2F;
}

.themes .night i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 0.7em;
}

.themes.active {
  background-color: #1A1B2F;
  border: 5px solid #fafafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.themes.active .day {
  opacity: 0;
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.themes.active .night {
  visibility: visible;
  color: #fafafa;
  border: 5px solid #fafafa;
  background-color: #1A1B2F;
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

body.active {
  background: linear-gradient(120deg, #2C3E50, #1A1B2F);
}

body.active .note {
  background: -webkit-gradient(linear, left bottom, left top, from(#141e30), to(#243b55));
  background: linear-gradient(to top, #141e30, #243b55);
  border: 3px solid #fafafa;
  -webkit-box-shadow: 0px 0px 2px #fafafa;
          box-shadow: 0px 0px 2px #fafafa;
  color: #e2e2e2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .note textarea {
  background: -webkit-gradient(linear, left bottom, left top, from(#0b223b), to(#151f31));
  background: linear-gradient(to top, #0b223b, #151f31);
  color: #fafafa;
}

body.active .input input {
  background-color: #1A1B2F;
  -webkit-box-shadow: 0px 1px 2px #fafafa;
          box-shadow: 0px 1px 2px #fafafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 3px solid #fafafa;
  color: #fafafa;
}

body.active .input input::-webkit-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .input input:-ms-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .input input::-ms-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .input input::placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .input input:focus {
  -webkit-box-shadow: 0px 1px 10px #dbdbdb;
          box-shadow: 0px 1px 10px #dbdbdb;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .input button {
  color: #E74C06;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #1A1B2F;
}

body.active .search input {
  background-color: #1A1B2F;
  -webkit-box-shadow: 0px 1px 2px #fafafa;
          box-shadow: 0px 1px 2px #fafafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 3px solid #fafafa;
  color: #fafafa;
}

body.active .search input::-webkit-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .search input:-ms-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .search input::-ms-input-placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .search input::placeholder {
  color: #c5c5c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .search input:focus {
  -webkit-box-shadow: 0px 1px 10px #dbdbdb;
          box-shadow: 0px 1px 10px #dbdbdb;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.active .search button {
  color: #E74C06;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 870px) {
  .head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-right: 0px;
    width: 500px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .input {
    margin-right: 0px;
  }
  .search {
    margin-top: 1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .themes {
    margin-top: 1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .note {
    margin: 0.5em;
  }
}

@media (max-width: 480px) {
  .head {
    min-width: 352px;
  }
  .input {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .search {
    margin-top: 0rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .themes {
    margin-top: 0.4rem;
    margin-right: 0px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .note {
    width: 9em;
    font-size: 0.9em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
/*# sourceMappingURL=style.css.map */