* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	// width: 100vw;
	min-height: 100vh;
	background: linear-gradient(120deg,#e0c3fc,#8ec5fc);
	position: relative;
	// overflow-x: hidden;
}

.head {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items:center;
	top: 2em;
	max-width: 100%;
}
.input {
	position: relative;
	transition: all 0.5s ease;
	width: 450px;
	margin-right: 30px;
	
	& input {
		font-size: 1.4em;
		background-color: #fafafa;
		width: 450px;
		padding: 20px 40px 20px 20px;
		box-shadow: 0px 1px 3px rgb(143, 143, 143);
		border-radius: 50px;
		transition: all 0.5s ease;
		
		&::placeholder {
			opacity: 0.5;
			transition: all 0.5s ease;
		}

		&:focus {
			box-shadow: 0px 0px 15px lightcoral;
			transition: all 0.5s ease;
		}
	}

	& button {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -1.2rem;
		font-size: 1.8rem;
		background: #fafafa;
		border: none;
		outline: none;
		cursor: pointer;
		color: lightcoral;
		transition: all 0.5s ease;

		& i {
			pointer-events: none;
		}
	}
}

.search {
	position: relative;
	transition: all 0.5s ease;
	margin-right: 25px;
	width: 200px;
	
	& input {
		box-shadow: 0px 1px 3px rgb(143, 143, 143);
		border-radius: 50px;
		padding: 20px;
		background-color: #fafafa;
		font-size: 1.4em;
		width: 200px;
		transition: all 0.5s ease;

		&::placeholder {
			opacity: 0.5;
			transition: all 0.5s ease;
		}

		&:focus {
			box-shadow: 0px 0px 15px lightcoral;
			transition: all 0.5s ease;
		}
	}

	& button {
		background: none;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 0px;
		font-size: 2em;
		margin-top: -1em;
		padding: 10px 15px;
		border-radius: 50px;
		color: lightcoral;
		transition: all 0.5s ease;
	}
}

.notes {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: space-around;
	margin-top: 4em;
	transition: all 0.5s ease;
}

.note {
	border: 2px solid white;
	box-shadow: 0px 1px 3px rgb(141, 141, 141);
	background: linear-gradient(
		to right,
		#f78ca0 0%,
		#f9748f 19%,
		#fd868c 60%,
		#fe9a8b 100%
	);
	height: fit-content;
	width: 13em;
	border-radius: 14px;
	color: #fafafa;
	margin: 1em;
	position: relative;
	display: flex;
	transition: all 0.5s ease;
	opacity: 1;
	font-size: 1em;
	
	& p {
		width: inherit;
		padding: 1.3rem;
		margin-top: 0.5rem;
		overflow-wrap: break-word;
	}

	& .fa-times {
		position: absolute;
		top: 0.5rem;
		right: 0.4rem;
		cursor: pointer;
	}
	& .edit {
		position: absolute;
		top: 0.5rem;
		right: 3rem;
		cursor: pointer;
	}

	& textarea {
		width: inherit;
		border-radius: 15px;
		height: 10em;
		resize: none;
		font-size: 1em;
		padding: 1.3rem;
		margin-top: 0.5rem;
		overflow-wrap: break-word;
		color: #1A1B2F;
		background: linear-gradient(
			to right,
			#f89bac 0%,
			#ff8da4 19%,
			#ff9ba0 60%,
			#ffada1 100%
		);
	}
}

// Edit mode
// .note.editing textarea{
// 	color: red;
// }

.animate {
	opacity: 0;
	transition: all 0.5s ease;
}

.hidden {
	display: none;
}

.error {
	position: absolute;
	text-align: center;
	top: 0px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	color: rgb(161, 0, 0);
	// border: 1px solid green;
}

.themes {
	position: relative;
	border: 5px solid #1A1B2F;
	width: 100px;
	height: 64px;
	font-size: 2.5em;
	border-radius: 50px;
	background-color: #fafafa;
	box-shadow: 0px 1px 3px rgb(143, 143, 143);
	transition: all 0.5s ease;
	cursor: pointer;
	
	& .day {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: -5px;
		padding: 30px;
		border-radius: 40px;
		width: 1.2em;
		height: 1.2em;
		margin-top: -0.85em;
		text-align: center;
		line-height: 1.2em;
		border: 5px solid #1A1B2F;
		background-color: white;
		transition: all 0.5s ease;
		opacity: 1;
		
		& i {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -0.5em;
			margin-left: -0.5em;
			font-size: 0.7em;
		}
	}
	
	& .night {
		width: 1.2em;
		position: absolute;
		top: 50%;
		left: -5px;
		margin-top: -0.85em;
		height: 1.2em;
		visibility: hidden;
		text-align: center;
		line-height: 1.2em;
		padding: 30px;
		border-radius: 40px;
		transition: all 0.5s ease;
		opacity: 0;
		border: 5px solid #1A1B2F;

		& i {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -0.5em;
			margin-left: -0.5em;
			font-size: 0.7em;
		}
	}

	&.active {
		background-color: #1A1B2F;
		border: 5px solid #fafafa; 
		transition: all 0.5s ease;
		
		& .day {
			opacity: 0;
			transform: translateX(36px);
			// display: none;
			transition: all 0.5s ease;
		}
		
		& .night {
			visibility: visible;
			color: #fafafa;
			border: 5px solid #fafafa;
			background-color: #1A1B2F;
			transform: translateX(36px);
			transition: all 0.5s ease;
			opacity: 1;
		}
	}
}

// Dark Mode
body.active {
	background: linear-gradient(120deg, #2C3E50, #1A1B2F);
	& .note {
		background: linear-gradient(to top, #141e30, #243b55);
		border: 3px solid #fafafa;
		box-shadow: 0px 0px 2px #fafafa;
		color: #e2e2e2;
		transition: all 0.5s ease;

		& textarea {
			background: linear-gradient(to top, #0b223b,#151f31);
			color: #fafafa;
		}
	}

	& .input {
		& input {
			background-color: #1A1B2F;
			box-shadow: 0px 1px 2px #fafafa;
			transition: all 0.5s ease;
			border: 3px solid #fafafa;
			color: #fafafa;

			&::placeholder {
				color:rgb(197, 197, 197);
				transition: all 0.5s ease;
			}

			&:focus {
				box-shadow: 0px 1px 10px #dbdbdb;
				transition: all 0.5s ease;
			}
		}
		& button{
			color:#E74C06;
			transition: all 0.5s ease;
			background:  #1A1B2F;
		}
	}

	& .search {
		& input {
			background-color: #1A1B2F;
			box-shadow: 0px 1px 2px #fafafa;
			transition: all 0.5s ease;
			border: 3px solid #fafafa;
			color: #fafafa;

			&::placeholder {
				color:rgb(197, 197, 197);
				transition: all 0.5s ease;
			}

			&:focus {
				box-shadow: 0px 1px 10px #dbdbdb;
				transition: all 0.5s ease;
			}
		}
		& button {
			color: #E74C06;
			transition: all 0.5s ease;
		}
	}
}

@media (max-width: 870px) {
	.head {
		flex-flow: row wrap;
		margin-right: 0px;
		width: 500px;
		transition: all 0.5s ease;
	}
	.input {
		margin-right: 0px;
	}

	.search {
		margin-top: 1rem;
		transition: all 0.5s ease;
	}

	.themes {
		margin-top: 1rem;
		transition: all 0.5s ease;
	}

	.note {
		margin: 0.5em;
	}
}

@media (max-width: 480px) {
	.head {
		min-width: 352px;
	}
	.input {
		transform: scale(0.7);
	}

	.search {
		margin-top: 0rem;
		transform: scale(0.7);
	}
	
	.themes {
		margin-top: 0.4rem;
		margin-right: 0px;
		transform: scale(0.7);
	}

	.note {
		width: 9em;
		font-size: 0.9em;
		transition: all 0.5s ease;
	}
}